@font-face {
  font-family: "vazirmatn";
  src: url("../fonts/vazirmatn-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "vazirmatn";
  src: url("../fonts/vazirmatn-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "iransansx";
  src: url("../fonts/iransansx-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "iransansx";
  src: url("../fonts/iransansx-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "iranyekan";
  src: url("../fonts/iranyekan-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "iranyekan";
  src: url("../fonts/iranyekan-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
body.ats-font-vazirmatn #wpcontent,
body.ats-font-vazirmatn #adminmenu,
body.ats-font-vazirmatn #wpadminbar,
body.ats-font-vazirmatn .wrap,
body.ats-font-vazirmatn :is(h1, h2, h3, h4, h5, h6), body.ats-font-vazirmatn.rtl, body.ats-font-vazirmatn.rtl .press-this a.wp-switch-editor, body.ats-font-vazirmatn.rtl #wpadminbar *, body.ats-font-vazirmatn.rtl .media-frame, body.ats-font-vazirmatn.rtl .media-frame .search, body.ats-font-vazirmatn.rtl .media-frame input[type=email], body.ats-font-vazirmatn.rtl .media-frame input[type=number], body.ats-font-vazirmatn.rtl .media-frame input[type=password], body.ats-font-vazirmatn.rtl .media-frame input[type=search], body.ats-font-vazirmatn.rtl .media-frame input[type=tel], body.ats-font-vazirmatn.rtl .media-frame input[type=text], body.ats-font-vazirmatn.rtl .media-frame input[type=url], body.ats-font-vazirmatn.rtl .media-frame select, body.ats-font-vazirmatn.rtl .media-frame textarea, body.ats-font-vazirmatn.rtl .media-modal,
body.ats-font-vazirmatn .usb-panel-elms-header,
body.ats-font-vazirmatn .usb-panel-header,
body.ats-font-vazirmatn .usb-panel-footer,
body.ats-font-vazirmatn .usof-tabs-list,
body.ats-font-vazirmatn .usb-panel-elms-item,
body.ats-font-vazirmatn .nav-tab-wrapper a,
body.ats-font-vazirmatn .block-editor-tabbed-sidebar__tab,
body.ats-font-vazirmatn .components-base-control__help,
body.ats-font-vazirmatn .components-base-control__label,
body.ats-font-vazirmatn .components-checkbox-control__label,
body.ats-font-vazirmatn .components-select-control__input,
body.ats-font-vazirmatn .components-input-control__input,
body.ats-font-vazirmatn .components-menu-item__info,
body.ats-font-vazirmatn .components-menu-item__item,
body.ats-font-vazirmatn .components-menu-group__label,
body.ats-font-vazirmatn .components-toggle-control__label,
body.ats-font-vazirmatn .preferences__tabs-tab,
body.ats-font-vazirmatn .editor-post-card-panel__title-name,
body.ats-font-vazirmatn .block-editor-warning__contents,
body.ats-font-vazirmatn .block-editor-warning__message,
body.ats-font-vazirmatn .block-editor-warning__actions,
body.ats-font-vazirmatn .blocks-shortcode__textarea,
body.ats-font-vazirmatn .components-placeholder__label,
body.ats-font-vazirmatn .components-placeholder__instructions,
body.ats-font-vazirmatn .components-button,
body.ats-font-vazirmatn .components-notice__content,
body.ats-font-vazirmatn .components-notice__actions,
body.ats-font-vazirmatn .components-notices__snackbar,
body.ats-font-vazirmatn .css-1xbmaa0 {
  font-family: vazirmatn, sans-serif;
}

body.ats-font-iransansx #wpcontent,
body.ats-font-iransansx #adminmenu,
body.ats-font-iransansx #wpadminbar,
body.ats-font-iransansx .wrap,
body.ats-font-iransansx :is(h1, h2, h3, h4, h5, h6), body.ats-font-iransansx.rtl, body.ats-font-iransansx.rtl .press-this a.wp-switch-editor, body.ats-font-iransansx.rtl #wpadminbar *, body.ats-font-iransansx.rtl .media-frame, body.ats-font-iransansx.rtl .media-frame .search, body.ats-font-iransansx.rtl .media-frame input[type=email], body.ats-font-iransansx.rtl .media-frame input[type=number], body.ats-font-iransansx.rtl .media-frame input[type=password], body.ats-font-iransansx.rtl .media-frame input[type=search], body.ats-font-iransansx.rtl .media-frame input[type=tel], body.ats-font-iransansx.rtl .media-frame input[type=text], body.ats-font-iransansx.rtl .media-frame input[type=url], body.ats-font-iransansx.rtl .media-frame select, body.ats-font-iransansx.rtl .media-frame textarea, body.ats-font-iransansx.rtl .media-modal,
body.ats-font-iransansx .usb-panel-elms-header,
body.ats-font-iransansx .usb-panel-header,
body.ats-font-iransansx .usb-panel-footer,
body.ats-font-iransansx .usof-tabs-list,
body.ats-font-iransansx .usb-panel-elms-item,
body.ats-font-iransansx .nav-tab-wrapper a,
body.ats-font-iransansx .block-editor-tabbed-sidebar__tab,
body.ats-font-iransansx .components-base-control__help,
body.ats-font-iransansx .components-base-control__label,
body.ats-font-iransansx .components-checkbox-control__label,
body.ats-font-iransansx .components-select-control__input,
body.ats-font-iransansx .components-input-control__input,
body.ats-font-iransansx .components-menu-item__info,
body.ats-font-iransansx .components-menu-item__item,
body.ats-font-iransansx .components-menu-group__label,
body.ats-font-iransansx .components-toggle-control__label,
body.ats-font-iransansx .preferences__tabs-tab,
body.ats-font-iransansx .editor-post-card-panel__title-name,
body.ats-font-iransansx .block-editor-warning__contents,
body.ats-font-iransansx .block-editor-warning__message,
body.ats-font-iransansx .block-editor-warning__actions,
body.ats-font-iransansx .blocks-shortcode__textarea,
body.ats-font-iransansx .components-placeholder__label,
body.ats-font-iransansx .components-placeholder__instructions,
body.ats-font-iransansx .components-button,
body.ats-font-iransansx .components-notice__content,
body.ats-font-iransansx .components-notice__actions,
body.ats-font-iransansx .components-notices__snackbar,
body.ats-font-iransansx .css-1xbmaa0 {
  font-family: iransansx, sans-serif;
}

body.ats-font-iranyekan #wpcontent,
body.ats-font-iranyekan #adminmenu,
body.ats-font-iranyekan #wpadminbar,
body.ats-font-iranyekan .wrap,
body.ats-font-iranyekan :is(h1, h2, h3, h4, h5, h6), body.ats-font-iranyekan.rtl, body.ats-font-iranyekan.rtl .press-this a.wp-switch-editor, body.ats-font-iranyekan.rtl #wpadminbar *, body.ats-font-iranyekan.rtl .media-frame, body.ats-font-iranyekan.rtl .media-frame .search, body.ats-font-iranyekan.rtl .media-frame input[type=email], body.ats-font-iranyekan.rtl .media-frame input[type=number], body.ats-font-iranyekan.rtl .media-frame input[type=password], body.ats-font-iranyekan.rtl .media-frame input[type=search], body.ats-font-iranyekan.rtl .media-frame input[type=tel], body.ats-font-iranyekan.rtl .media-frame input[type=text], body.ats-font-iranyekan.rtl .media-frame input[type=url], body.ats-font-iranyekan.rtl .media-frame select, body.ats-font-iranyekan.rtl .media-frame textarea, body.ats-font-iranyekan.rtl .media-modal,
body.ats-font-iranyekan .usb-panel-elms-header,
body.ats-font-iranyekan .usb-panel-header,
body.ats-font-iranyekan .usb-panel-footer,
body.ats-font-iranyekan .usof-tabs-list,
body.ats-font-iranyekan .usb-panel-elms-item,
body.ats-font-iranyekan .nav-tab-wrapper a,
body.ats-font-iranyekan .block-editor-tabbed-sidebar__tab,
body.ats-font-iranyekan .components-base-control__help,
body.ats-font-iranyekan .components-base-control__label,
body.ats-font-iranyekan .components-checkbox-control__label,
body.ats-font-iranyekan .components-select-control__input,
body.ats-font-iranyekan .components-input-control__input,
body.ats-font-iranyekan .components-menu-item__info,
body.ats-font-iranyekan .components-menu-item__item,
body.ats-font-iranyekan .components-menu-group__label,
body.ats-font-iranyekan .components-toggle-control__label,
body.ats-font-iranyekan .preferences__tabs-tab,
body.ats-font-iranyekan .editor-post-card-panel__title-name,
body.ats-font-iranyekan .block-editor-warning__contents,
body.ats-font-iranyekan .block-editor-warning__message,
body.ats-font-iranyekan .block-editor-warning__actions,
body.ats-font-iranyekan .blocks-shortcode__textarea,
body.ats-font-iranyekan .components-placeholder__label,
body.ats-font-iranyekan .components-placeholder__instructions,
body.ats-font-iranyekan .components-button,
body.ats-font-iranyekan .components-notice__content,
body.ats-font-iranyekan .components-notice__actions,
body.ats-font-iranyekan .components-notices__snackbar,
body.ats-font-iranyekan .css-1xbmaa0 {
  font-family: iranyekan, sans-serif;
}

/*# sourceMappingURL=admin-fonts.css.map */
